@use 'fonts';
@use 'var';


.box {
    background-color: var.$bg;
    &__title {
        color: #f00;
    }
    &__image {
        max-width: 200px
    }
}


body {
    font-family: var.$font;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 66px;
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 25px;
        position: absolute;
        top: 0;
        z-index: -1;
        background-color: var.$accent;
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 20px;
        background-image: url('../images/header-bottom-2.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: -20px;
        display: block;
    }
    &__logo {
        background-color: var.$accent;
        padding: 17px 45px 0 45px;
        border-radius: 10px 0 0 0;
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 68px;
            height: 66px;
            background-image: url('../images/header-center-left.svg');
            position: absolute;
            right: -68px;
            top: 0;
        }
    }

    &__link {
        color: var.$light;
        font-size: 20px;
        background-color: var.$accent;
        padding: 17px 45px 0 45px;
        border-radius: 0 10px 0 0;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 68px;
            height: 66px;
            background-image: url('../images/header-center-right.svg');
            position: absolute;
            left: -68px;
            top: 0;
        }

    }
    
}